# Owner-only data (owned supplements, the CC price list, copyrightable prose) lives under
# chargen/owner/ and is git-ignored there (chargen/owner/.gitignore). The generator loads it at
# runtime from an owner-chosen directory. Nothing owner-only lives loose in chargen/ anymore.
# Build intermediates from the bestiary parser — regenerable from the owner's PDF, never committed.
*.parsed.json
